version: "3.1"

services:
  db:
    image: mysql:8
    container_name: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "password"
      MYSQL_USER: "dbUser"
      MYSQL_PASSWORD: "password"
      MYSQL_DATABASE: "twitter"
    volumes:
      - ./db-data:/var/lib/mysql
    ports:
      - 3306:3306

  adminer:
    container_name: php_myadmin
    image: adminer:4.7
    restart: always
    ports:
      - 8002:8080

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: twitter_web
    ports:
      - 5000:5000
    volumes:
      - .:/usr/src/app
    command: npm run dev
    links:
      - "db"
    environment:
      APP_ENV: development
      DB_USER: "root"
      DB_PASSWORD: "password"
      DB_HOST: "db"
      DB_DIALECT: "mysql"
      DB_NAME: "twitter"
